@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background dark:bg-dark-background text-text-primary dark:text-dark-text-primary;
  /* Add a smooth transition for color scheme changes */
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}